version: '3.9'
services:
  db:
    image: mysql:8.0
    # dev
    container_name: mysql-dream
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: dream_shops_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: